<section class="survey-dialog">
  <header class="survey-dialog__header">
    <div class="survey-dialog__badge-title">
      <span class="survey-dialog__badge">Draft</span>
      <h2 class="survey-dialog__title">Create new survey</h2>
    </div>
    <button mat-raised-button mat-dialog-close class="survey-dialog__cancel-btn">Cancel X</button>
  </header>

  <div class="survey-dialog__box">
    <div class="survey-dialog__top">
      <div class="survey-dialog__top-left">
        <div class="survey-dialog__field-row">
          <p class="survey-dialog__label">Survey name</p>
          <div class="survey-dialog__field-input">
            <mat-form-field class="survey-dialog__input">
              <input matInput [(ngModel)]="title" />
            </mat-form-field>
            <mat-icon class="survey-dialog__delete-icon">delete_outline</mat-icon>
          </div>
        </div>

        <div class="survey-dialog__date-row">
          <div class="survey-dialog__field-row">
            <p class="survey-dialog__label">
              Set end date
              <span class="survey-dialog__optional">(optional)</span>
            </p>
            <div class="survey-dialog__field-input">
              <mat-form-field class="survey-dialog__date">
                <mat-date-range-input [formGroup]="range" [rangePicker]="picker">
                  <input matStartDate formControlName="start" placeholder="Start" />
                  <input matEndDate formControlName="end" placeholder="End" />
                </mat-date-range-input>
                <mat-datepicker-toggle matIconSuffix [for]="picker" />
                <mat-date-range-picker #picker />
              </mat-form-field>
              <mat-icon class="survey-dialog__delete-icon">delete_outline</mat-icon>
            </div>
          </div>

          <div class="survey-dialog__field-row">
            <!--            <p class="survey-dialog__label"></p>-->
            <mat-form-field floatLabel="always" class="survey-dialog__select">
              <mat-label>Choose category</mat-label>
              <mat-select [(ngModel)]="selectedCategory">
                <mat-option value="Team Activities">Team Activities</mat-option>
                <mat-option value="Health & Wellness">Health & Wellness</mat-option>
                <mat-option value="Gaming & Entertainment">Gaming & Entertainment</mat-option>
                <mat-option value="Education & Learning">Education & Learning</mat-option>
                <mat-option value="Lifestyle & Preferences">Lifestyle & Preferences</mat-option>
                <mat-option value="Technology & Innovation">Technology & Innovation</mat-option>
              </mat-select>
            </mat-form-field>
            <span class="survey-dialog__category-value">{{ selectedCategory }}</span>
          </div>
        </div>
      </div>

      <div class="survey-dialog__top-right">
        <div class="survey-dialog__field-row">
          <div class="survey-dialog__field-input">
            <p class="survey-dialog__label">
              Describing text
              <span class="survey-dialog__optional">(optional)</span>
            </p>
            <mat-icon class="survey-dialog__delete-icon">delete_outline</mat-icon>
          </div>
          <mat-form-field class="survey-dialog__textarea">
            <textarea [(ngModel)]="description" matInput rows="6"></textarea>
          </mat-form-field>
        </div>
      </div>
    </div>

    <div class="survey-dialog__questions">
      @for (question of questions; track $index; let qIdx = $index) {
        <div class="survey-dialog__question-block">
          <div class="survey-dialog__question-inner">
            <div class="survey-dialog__field-row">
              <div class="survey-dialog__field-input">
                <p class="survey-dialog__label">{{ qIdx + 1 }}. Question</p>
                @if (questions.length > 1) {
                  <mat-icon class="survey-dialog__delete-icon" (click)="removeQuestion(qIdx)">delete_outline</mat-icon>
                }
              </div>
              <mat-form-field class="survey-dialog__input">
                <input
                  matInput
                  [(ngModel)]="questions[qIdx].question"
                  placeholder="Which date would work best for you?"
                />
              </mat-form-field>
            </div>

            <div class="survey-dialog__answers">
              <div class="survey-dialog__answers-header">
                <p class="survey-dialog__label">Answers</p>
                <mat-checkbox [(ngModel)]="questions[qIdx].allowMultiple" class="survey-dialog__checkbox">
                  Allow multiple answers.
                </mat-checkbox>
              </div>

              @for (answer of question.answers; track $index; let aIdx = $index) {
                <div class="survey-dialog__answer-row">
                  <span class="survey-dialog__answer-label">{{ getAnswerLabel(aIdx) }}</span>
                  <mat-form-field class="survey-dialog__input">
                    <input matInput [(ngModel)]="questions[qIdx].answers[aIdx]" />
                  </mat-form-field>
                  @if (question.answers.length > 2) {
                    <mat-icon class="survey-dialog__delete-icon" (click)="removeAnswer(qIdx, aIdx)">
                      delete_outline
                    </mat-icon>
                  }
                </div>
              }

              @if (question.answers.length < 6) {
                <button class="survey-dialog__add-answer-btn" (click)="addAnswer(qIdx)">
                  Add answer
                  <img class="survey-dialog__question-answer-circle" src="svg/add_circle.svg" />
                </button>
              }
            </div>
          </div>
        </div>
      }
      <div class="survey-dialog__question-side">
        <button class="survey-dialog__add-btn" (click)="addQuestion()">
          Add next question
          <img class="survey-dialog__question-add-circle" src="svg/add_circle.svg" />
        </button>
      </div>
    </div>
  </div>
  @if (showError) {
    <div class="survey-dialog__overlay" (click)="showError = false"></div>
    <div class="survey-dialog__error">
      Your survey is now
      <br />
      published
      <div>
        <button class="survey-dialog__error-close" (click)="showError = false">X</button>
      </div>
    </div>
  }
  <div class="survey-dialog__end">
    <button (click)="createSurvey()" mat-raised-button class="survey-dialog__publish">Publish</button>
  </div>
</section>
