<section class="hero">
  <div class="hero__content">
    <h1 class="hero__title">Collect Feedback,<br> Unlock Ideas</h1>
    <p class="hero__text">
      Create and share surveys in minutes – from team events to workplace culture.
      Collect opinions, engage your audience, and turn feedback into action.
    </p>
    <div class="hero__button" (click)="openDialog()">
      <img class="hero__button-default" src="svg/PrimaryButton/Property1=Default.svg" alt="New survey">
      <img class="hero__button-hover" src="svg/PrimaryButton/Property1=hoverAdd.svg" alt="New survey">
    </div>
  </div>
  <div class="hero__illustration">
    <img class="hero__img hero__img--back" src="svg/note/hero-illustration-1.svg" alt="">
    <img class="hero__img hero__img--front" src="svg/note/hero-illustration-2.svg" alt="">
  </div>
</section>
