.survey-list {
  padding: 0 15px 64px 64px;

  &__controls {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 24px;
    padding: 0 5px 5px 5px;
  }

  &__tabs {
    display: flex;
    gap: 12px;
  }

  &__tab {
    padding: 8px 20px;
    border-radius: 20px;
    border: 2px solid #ffb770;
    background: transparent;
    color: white;
    font-family: 'Mulish', sans-serif;
    font-size: 14px;
    cursor: pointer;

    &--active {
      background-color: #ffb770;
      color: #352639;
    }
  }

  &__sort {
    align-items: center;
    background: transparent;
    border: none;
    color: white;
    font-family: 'Mulish', sans-serif;
    font-size: 16px;
    cursor: pointer;
    padding: 8px 12px;
    border-radius: 8px;
    transition:
      background-color 0.2s,
      color 0.2s;

    &:hover {
      background-color: #4f4454;
      color: #ffb770;
    }
  }

  &__selected-category {
    display: block;
    color: #ffb770;
    font-size: 1rem;
    margin-top: 4px;
    text-align: center;
  }

  &__sorting {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &__grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 16px;
    max-height: 520px;
    overflow-y: scroll;
    height: 390px;

    &::-webkit-scrollbar {
      width: 6px;
    }

    &::-webkit-scrollbar-track {
      background: transparent;
    }

    &::-webkit-scrollbar-thumb {
      background-color: #ffb770;
      border-radius: 4px;
    }
  }

  &__card {
    background-color: #3d2f41;
    border-radius: 0 40px 0 0;
    padding: 16px 20px;
    display: flex;
    flex-direction: column;
    gap: 8px;

    &:hover {
      background-color: #4f4454;
      cursor: pointer;
    }
  }

  &__category {
    font-family: 'Mulish', sans-serif;
    font-size: 1rem;
    font-weight: 700;
    color: #ffcfa1;
  }

  &__title {
    font-family: 'Mulish', sans-serif;
    font-size: 1.25rem;
    font-weight: 700;
    color: #ffffff;
    margin: 0;
  }

  &__badge {
    align-self: flex-end;
    background-color: #ffcfa1;
    color: #221227;
    font-family: 'Mulish', sans-serif;
    font-size: 12px;
    font-weight: 500;
    padding: 4px 10px;
    border-radius: 0 12px 0 0 !important;
  }
}

@media (max-width: 768px) {
  .survey-list {
    padding: 5px 16px 48px;

    &__controls {
      flex-direction: column;
      align-items: flex-start;
      gap: 30px;
      padding: 5px;
    }

    &__grid {
      grid-template-columns: 1fr;
    }
  }
}

@media (max-width: 480px) {
  .survey-list {
    padding: 4px 8px 32px;

    &__tabs {
      flex-wrap: wrap;
    }

    &__title {
      font-size: 1rem;
    }
  }
}
